<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider android:name="com.raulsc.lenguareaccion.TestVideoProvider"
            android:authorities="com.raulsc.lenguareaccion.test.videos"
            android:exported="true" android:grantUriPermissions="true" />
    </application>
</manifest>
