faster-whisper==1.2.1
transformers==4.57.6
sentencepiece==0.2.0
torch==2.14.0
ctranslate2==4.8.2
fugashi==1.5.2
unidic-lite==1.0.8
nvidia-cublas-cu12==12.9.2.10; sys_platform == 'win32'
nvidia-cudnn-cu12==9.25.1.1; sys_platform == 'win32'
